version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: install
          command: |
            sudo apt-get update
            sudo apt-get install -y curl wget lftp
      - run:
          name: run tests
          command: bash ./run_combinations.sh inputs.tsv
workflows:
  main:
    jobs:
      - build
