version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: install
          command: |
            sudo apt-get update
            sudo apt-get install -y curl wget lftp python3-pip
            pip3 install pandas
      - run:
          name: run tests
          command: |
            python3 test.py
            cat output.tsv 
workflows:
  main:
    jobs:
      - build
